<li class="nav-item has-treeview">
    <a href="/Product/ProductList" class="nav-link">
        <i class="nav-icon fas fa-copy"></i>
        <p>
            All Products
            <i class="fas fa-angle-left right"></i>
            <span class="badge badge-info right">6</span>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Product/CategoryProducts" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Kategoriye Göre</p>
            </a>
        </li>
    </ul>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>New Products</p>
            </a>
        </li>
    </ul>
</li>