
@{
    ViewBag.Title = "Activation";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Activation</h2>

<div class="row margin-vert-30">
    @if (ViewBag.Sonuc != null)
    {
        <h4>@ViewBag.ActivationResult</h4>
    }
</div>